// --------------------------------------------------------------------------
// This file contains rules applying on elements shared between views
// --------------------------------------------------------------------------
.o_view_manager_content {
    .oe_view_nocontent {
        margin: 10px @odoo-horizontal-padding;
        padding: 15px 10px 10px 10px;
        color: white;
        background-color: darken(@odoo-brand-secondary, 15%);
        max-width: 500px;
        .oe_view_nocontent_create {
            font-weight: bold;
            position: relative;
            &:before {
                content: " ";
                display: block;
                border-bottom: 25px solid darken(@odoo-brand-secondary, 15%);
                border-top: none;
                border-left: 25px solid transparent;
                border-right: 25px solid transparent;

                position: absolute;
                bottom: 100%;
                left: 0;
            }
        }
    }
    .o_cannot_create .oe_view_nocontent_create {
       display: none;
    }
    // Hide view_nocontent in x2many fields
    &.o_form_field .oe_view_nocontent {
        display: none;
    }
}
