.ui-widget-content {
    background: #ffffff;
    color: #222222;
}
.ui-dialog-titlebar {
    display:none
}
td ~ td span {
    margin-left: 10px;
}
div.o_account_reports_body {
    background-color: white;
    color: #8f8f8f;
}
div.o_account_reports_page {
    padding-bottom: 2.5cm;
}
div.o_account_reports_summary i.fa {
    visibility: hidden;
}
div.o_account_reports_summary {
    padding-bottom: 0.8cm;
    padding-top: 0.3cm;
}
.o_account_reports_unfolded td + td {
    visibility: hidden;
}
div.o_account_reports_summary:hover i.fa {
    visibility: visible;
}
div.o_account_reports_next-action i.fa {
    visibility: hidden;
}
div.o_account_reports_next-action:hover i.fa {
    visibility: visible;
}
input#summary, a, div.o_account_reports_summary, .o_account_reports_web-action, span.o_account_reports_web-action, div.dropdown, span.dropdown, i.fa, div.o_account_reports_saved-summary span, td.o_account_reports_unfoldable, td.o_account_reports_foldable, span.partner_id, span.move_line_id, span#public-link, input[type=checkbox], div.o_account_reports_next-action {
    cursor: pointer; cursor: hand;
}
td i.fa-pencil-square{
    visibility: hidden;
}
td:hover i.fa-pencil-square {
    visibility: visible;
}
p.footnote i.fa, p.footnoteEdit i.fa {
    visibility: hidden;
}
p.footnote:hover i.fa {
    visibility: visible;
}
span.footnoteIcons {
    position: absolute;
    margin-left: 3px;
}
th {
    border-bottom: thin groove;
}
b.o_account_reports_footnote-sup {
    position: absolute;
    margin-top: 10px;
    color: black;
}
span.o_account_reports_caret-icon {
    position: absolute;
    margin-left: -3px;
}
span.pencilIcon {
    position: absolute;
    margin-left: -15px;
    color: black;
}
span.o_account_reports_domain-line-1 {
    margin-left: 65px;
}
span.o_account_reports_domain-line-2 {
    margin-left: 75px;
}
span.o_account_reports_domain-line-3 {
    margin-left: 85px;
}
span.o_account_reports_domain-line-1.domain-total {
    font-weight: bold;
}
span.o_account_reports_domain-line-2.domain-total {
    font-weight: bold;
}
span.o_account_reports_domain-line-3.domain-total {
    font-weight: bold;
}
span.unreconciled_aml {
    font-style: : italic;
}
ul.o_account_reports_domain-dropdown {
    margin-left: 70px
}
.total {
    font-weight: bold;
    color: black;
}
tr.o_account_reports_level0 {
    border-collapse: separate;
    color: #893b74;
    border-width:5px;
    border-left-style: hidden;
    border-top-style: double;
    border-bottom-style: hidden;
    border-right-style: hidden;
    font-weight: bold;
}
tr.o_account_reports_level0 td {
    padding-bottom: 45px;
}
tr.o_account_reports_level1 {
    border-width: 2px;
    border-style: solid;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
}
tr.o_account_reports_level1.total {
    border-top-style: solid;
}
tr.o_account_reports_level1.total td {
    padding-bottom: 25px;
}
tr.o_account_reports_level2 {
    border-width: 1px;
    border-style: solid;
    border-left-style: hidden;
    border-right-style: hidden;
}
tr.o_account_reports_level2 > td > span:last-child {
    margin-left: 25px;
}
tr.o_account_reports_level2.total td {
    padding-bottom: 50px;
}
tr.defaultStyle {
    border-width: 0;
    border-style: solid;
    border-left-style: hidden;
    border-right-style: hidden;
}
tr.defaultStyle > td > span:last-child {
    margin-left: 50px;
}
.progress {
  position: relative;
}
.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}
.bootstrap-datetimepicker-widget {
    z-index:2000 !important;
}
.o_account_reports_followup-not-clicked .followup-skip {
    display: inline-block;
}
.o_account_reports_followup-not-clicked .followup-done {
    display: none;
}
.o_account_reports_followup-clicked .followup-skip {
    display: none;
}
.o_account_reports_followup-clicked .followup-done {
    display: inline-block;
}
